<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="../static/css/style.css" rel="stylesheet"/>
    <link href="../static/css/header.css" rel="stylesheet"/>
    <link href="../static/css/newNote.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<!--NAVIGATION BAR-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
            <li class="nav-item dropdown">
                <a th:text="${user}" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
        <button onclick="location.href=' /logout'" type="button" class="btn btn-danger" id="logout">Logout</button>
    </div>
</nav>

<!--BODY-->

<body>
<div class="wrapper">
    <hr>

    <!--SEARCH BAR-->
    <div class="search">
        <form class="form-inline" id="search">
            <input class="form-control mr-sm-2" id="search-field" type="search" placeholder="Search"
                   aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>

    <!--ADD BUTTON-->
    <div class="add-button" id="add-button-div">
        <button type="button" class="btn btn-outline-success my-2 my-sm-0" id="add-button">+</button>
    </div>

    <!--NOTES LIST-->
    <div class="notes">
        <table>
            <tr th:each="task: ${tasks}">
                <div class="note">
                    <p th:text="${task.text}"></p>
                </div>
            </tr>
        </table>
    </div>

</div>

<!--HIDDEN NEW NOTES DIV-->
<div class="new-note" id="new-note">
    <form class="new-note-form">
        <h2 class="">New note</h2>
        <textarea name="textArea" placeholder="Enter new note" class="new-note-textArea"></textarea>
        <br>
        <button type="submit" class="btn btn-outline-danger my-2 my-sm-0">Discard</button>
        <button type="submit" class="btn btn-outline-success my-2 my-sm-0" id="save-note">Save</button>
    </form>
</div>

</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script src="../static/javascript/script.js"></script>
</html>