<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="../static/css/style.css" rel="stylesheet"/>
    <link href="../static/css/tasks.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<!--NAVIGATION BAR-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" id ="navbar-user">
            <li class="nav-item dropdown">
                <a th:text="${user}" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <form th:action="@{/settings}">
                        <input type="text" name="user" th:value="${user}"  style="display: none">
                        <button type="submit" class="dropdown-item">Settings</button>
                    </form>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout" id="dropdown-item-logout">Log out</a>
                </div>
            </li>
        </ul>
        <button onclick="location.href=' /logout'" type="button" class="btn btn-danger" id="logout">Logout</button>
    </div>
</nav>

<!--BODY-->

<body>
<div class="wrapper">
    <hr>

    <!--SEARCH BAR-->
    <div class="search">
        <form class="form-inline" id="search">
            <input class="form-control mr-sm-2" id="search-field" type="search" placeholder="Search"
                   aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>

    <!--ADD BUTTON-->
    <div class="add-button" id="add-button-div">
        <button type="button" class="btn btn-outline-success my-2 my-sm-0" id="add-button">+</button>
    </div>

    <!--NEW TASK-->

    <div class="notes">
        <div class="new-note" id="new-note">
            <form  th:object="${newTask}" th:action="@{/saveTask}" class="new-note-form" method="post" action="#">
                <h2 class="">New task</h2>
                <textarea name="text" th:field="*{text}" placeholder="Enter new note"  class="new-note-textArea" id="new-note-textArea" required=""></textarea>
                <br>
                <input type="text" name="userId" th:value="${userId}" style="display: none">
                <button type="submit" class="btn btn-outline-success my-2 my-sm-0" id="save-note">Save</button>
                <button onclick="location.href='/'" type="button" class="btn btn-outline-secondary my-2 my-sm-0" id="cancel">Cancel</button>
            </form>
        </div>

        <!--TASKS, DELETE, EDIT-->
        <table>
            <tr th:each="task: ${tasks}">
                <div class="note">
                    <div class="note-text">
                       <!-- <p th:id="'current-note' + ${taskStat.index}" th:text="${task.text}"></p>-->
                        <form  th:object="${task}" th:action="@{/saveTask}" class="edit-note-form" method="post" action="#">
                            <br>
                            <textarea name="text" th:text="${task.text}"
                                      class="edit-textarea" id="edit-textarea" required=""></textarea>
                            <input type="text" name="id" th:value="${task.id}" style="display: none">
                            <input type="text" name="userId" th:value="${userId}" style="display: none">
                          <div class="edit-buttons">
                              <button type="submit" class="btn btn-outline-success my-2 my-sm-0" >Save</button>
                              <button onclick="location.href='/'" type="button" class="btn btn-outline-secondary my-2 my-sm-0" >Cancel</button>
                          </div>
                        </form>
                    </div>



                    <div class="note-buttons">

                        <!---->
                       <!-- <span th:text="${taskStat.index} + ': ' + ${task.text}" id="specificSpan"></span>
                       ( th:id="'editButton' + ${taskStat.index} " onclick="editNote(this.id)")
                       -->

                        <button type="submit" th:id="${taskStat.index}" onclick="editNote(this.id)" class="btn btn-outline-warning my-2 my-sm-0 edit-note">Edit</button>
                        <!---->


                          <!--  <form th:object="${task}" th:action="@{/updateTask}">
                                <input type="text" name="id" th:value="${task.id}" style="display: none">
                                <input type="text" name="userId" th:value="${task.userId}" style="display: none">
                                <input type="text" name="text" th:value="${task.text}" style="display: none">
                                <button type="submit" class="btn btn-outline-warning my-2 my-sm-0 edit-note">Edit</button>
                            </form> -->

                        <br><br>
                        <form  th:action="@{/deleteTask}">
                            <input type="text" name="id" th:value="${task.id}" style="display: none">
                            <button type="submit" class="btn btn-outline-danger my-2 my-sm-0" id="delete-note">Delete</button>
                        </form>
                    </div>
                </div>
            </tr>
        </table>
    </div>
</div>

<!--HIDDEN NEW NOTES DIV-->

</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="../static/javascript/script.js"></script>
</html>