<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Todo</title>
  <link rel="icon" type="image/png" href="../static/images/favicon.png"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="../static/css/style.css" rel="stylesheet"/>
  <link href="../static/css/tasks.css" rel="stylesheet"/>
  <link href="../static/css/profile-settings.css" rel="stylesheet"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<!--NAVIGATION BAR-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" id ="navbar-user">
      <li class="nav-item dropdown">
        <a th:text="${username}" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/">Home</a>
          <form th:action="@{/settings}">
            <input type="text" name="username" th:value="${username}"  style="display: none">
            <button type="submit" class="dropdown-item">Settings</button>
          </form>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout" id="dropdown-item-logout">Log out</a>
        </div>
      </li>
    </ul>
    <button onclick="location.href=' /logout'" type="button" class="btn btn-danger" id="logout">Logout</button>
  </div>
</nav>

<!--BODY-->

<body>
<div class="wrapper">

  <div class="settings-form">
    <h2 class="form-signin-heading">Profile Settings</h2>


    <!-- MAIN -->
    <div class="edit-profile-options">
      <p>
        <button type="button" class="btn btn-light options change-username">Change Username</button>
      </p>
      <p>
        <button type="button" class="btn btn-light options change-password">Change Password</button>
      </p>
      <p>
        <button type="button" class="btn btn-light options reset-tasks">Reset Tasks</button>
      </p>
      <p>
        <button type="button" class="btn btn-light options delete-account">Delete Account</button>
      </p>
    </div>

    <!-- CHANGE USERNAME -->



    <div class="edit-profile change-username-form">
      <form class="change-form" th:action="@{/updateUser}" th:object="${user}" method="post">
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" name="newUsername" class="form-control password input" placeholder="New Username* " required minlength="3">
        <input type="text" name="currentPassword" class="form-control password input" style="display:none;">
        <input type="text" name="newPassword" class="form-control password input" style="display:none;">
        <input type="text" name="username" th:value="${user.username}" style="display: none">
        <input type="text" name="id" th:value="${user.id}" style="display: none">
        <input type="text" name="password" th:value="${user.password}" style="display: none">
        <input type="text" name="enabled" th:value="${user.enabled}" style="display: none">
        <button  type="submit" class="btn btn-outline-success my-2 my-sm-0 password input">Save</button>
        <br><br>
        <button type="button" class="btn btn-outline-secondary my-2 my-sm-0 password input change-cancel">Back</button>
      </form>
    </div>

    <!-- CHANGE PASSWORD -->
    <div class="edit-profile change-password-form">
      <form class="change-form" th:action="@{/updateUser}" th:object="${user}" method="post">
        <!--Visible part of the form-->
        <label for="currentPassword" class="sr-only">Password</label>
        <input type="text" id="currentPassword" name="currentPassword" class="form-control password input" placeholder="Current Password">
        <label for="newPassword" class="sr-only">New Password</label>
        <input type="text" id="newPassword" name ="newPassword" class="form-control password input" placeholder="New Password">
        <!--Empty but required by the Controller Method-->
        <input type="text" name="newUsername" class="form-control password input" style="display:none;">
        <!--The object's data-->
        <input type="text" name="username" th:value="${user.username}" style="display: none">
        <input type="text" name="id" th:value="${user.id}" style="display: none">
        <input type="text" name="password" th:value="${user.password}" style="display: none">
        <input type="text" name="enabled" th:value="${user.enabled}" style="display: none">
        <!--Visible part of the form-->
        <button  type="submit" class="btn btn-outline-success my-2 my-sm-0 password input">Save</button>
        <br><br>
        <button type="button" class="btn btn-outline-secondary my-2 my-sm-0 password input change-cancel">Back</button>
      </form>
    </div>

    <!-- RESET TASKS -->

    <div class="edit-profile reset-tasks-form">
      <form class="change-form">
        <button type="button" class="btn btn-outline-warning my-2 my-sm-0 password input">Delete All Tasks</button>
        <br><br>
        <button type="button"class="btn btn-outline-secondary my-2 my-sm-0 password input change-cancel">Back</button>
      </form>

    </div>

    <!-- DELETE ACCOUNT -->

    <div class="edit-profile  delete-account-form">
      <form class="change-form">
        <button type="button" class="btn btn-outline-danger my-2 my-sm-0 password input">Delete Account</button>
        <br><br>
        <button type="button"class="btn btn-outline-secondary my-2 my-sm-0 password input change-cancel">Back</button>
      </form>
    </div>

    <button onclick="location.href='/'" type="button" class="btn btn-outline-secondary my-2 my-sm-0 cancel" id="cancel">Cancel</button>
  </div>

</div>

</div>

</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script src="../static/javascript/script.js"></script>
</html>