<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Todo</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="../static/css/style.css" rel="stylesheet"/>
  <link href="../static/css/tasks.css" rel="stylesheet"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<!--NAVIGATION BAR-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" id ="navbar-user">
      <li class="nav-item dropdown">
        <a th:text="${username}" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <form th:action="@{/settings}">
            <input type="text" name="user" th:value="${username}"  style="display: none">
            <button type="submit" class="dropdown-item">Settings</button>
          </form>
          <a class="dropdown-item" href="/">Home</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout" id="dropdown-item-logout">Log out</a>
        </div>
      </li>
    </ul>
    <button onclick="location.href=' /logout'" type="button" class="btn btn-danger" id="logout">Logout</button>
  </div>
</nav>

<!--BODY-->

<body>

<div class="container">



  <div class="settings-form">

    <form  th:object="${user}" th:action="@{/save}" class="form-signin" method="post" action="#">
      <h2 class="form-signin-heading">Create Account</h2>
      <p>
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" th:field="*{username}" name="username" class="form-control" placeholder="Username *"  required=""
               autofocus="">
      <div class="alert alert-warning" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
      </p>
      <p>
        <label for="password" class="sr-only">Password</label>
        <input type="password" th:field="*{password}" id="password" name="password" class="form-control" placeholder="Password *"
               required="">
      <div class="alert alert-warning" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
      </p>
      <p>
        <label for="repeat-password" class="sr-only">Repeat Password</label>
        <input type="password" th:value="${password2}" id="repeat-password" name="password2" class="form-control" placeholder="Repeat Password *"
               required="">
      </p>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Create Account</button>
      <button onclick="location.href='/login'" type="button" class="btn btn-lg btn-secondary btn-block">Cancel</button>
    </form>

  </div>
</div>

</div>

</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script src="../static/javascript/script.js"></script>
</html>