<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Todo</title>
  <link rel="icon" type="image/png" href="../static/images/favicon.png"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="../static/css/style.css" rel="stylesheet"/>
  <link href="../static/css/tasks.css" rel="stylesheet"/>
  <link href="../static/css/profile-settings.css" rel="stylesheet"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<!--NAVIGATION BAR-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" id ="navbar-user">
      <li class="nav-item dropdown">
        <a th:text="${username}" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/">Home</a>
          <form th:action="@{/settings}">
            <input type="text" name="username" th:value="${username}"  style="display: none">
            <button type="submit" class="dropdown-item">Settings</button>
          </form>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout" id="dropdown-item-logout">Log out</a>
        </div>
      </li>
    </ul>
    <button onclick="location.href=' /logout'" type="button" class="btn btn-danger" id="logout">Logout</button>
  </div>
</nav>

<!--BODY-->

<body>
<div class="wrapper">

  <div class="settings-form">
    <h2 class="form-signin-heading">Profile Settings</h2>


    <!-- MAIN -->
    <div class="edit-profile-options">
      <p>
        <button type="button" class="btn btn-light options change-username">Change Username</button>
      </p>
      <p>
        <button type="button" class="btn btn-light options change-password">Change Password</button>
      </p>
      <p>
        <button type="button" class="btn btn-light options reset-tasks">Reset Tasks</button>
      </p>
      <p>
        <button type="button" class="btn btn-light options delete-account">Delete Account</button>
      </p>
    </div>

    <!-- CHANGE USERNAME -->

    <div class="edit-profile change-username-form">
      <form class="change-form">
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" class="form-control" placeholder="New Username*">
        <button type="button" class="btn btn-outline-success my-2 my-sm-0">Save</button>
      </form>
    </div>

    <!-- CHANGE PASSWORD -->
    <div class="edit-profile change-password-form">
      <form class="change-form">
        <label for="current-password" class="sr-only">Password</label>
        <input type="text" id="current-password" class="form-control password input" placeholder="Current Password">
        <label for="password" class="sr-only">Username</label>
        <input type="text" id="password" class="form-control password input" placeholder="New Password">
        <button  type="button" class="btn btn-outline-success my-2 my-sm-0 password input">Save</button>
        <br><br>
        <button type="button" class="btn btn-outline-secondary my-2 my-sm-0 password input change-cancel">Back</button>
      </form>
    </div>

    <!-- RESET TASKS -->

    <div class="edit-profile reset-tasks-form">
      <form class="change-form">
        <button type="button" class="btn btn-outline-warning my-2 my-sm-0 password input">Delete All Tasks</button>
        <br><br>
        <button type="button"class="btn btn-outline-secondary my-2 my-sm-0 password input change-cancel">Back</button>
      </form>

    </div>

    <!-- DELETE ACCOUNT -->

    <div class="edit-profile  delete-account-form">
      <form class="change-form">
        <button type="button" class="btn btn-outline-danger my-2 my-sm-0 password input">Delete Account</button>
        <br><br>
        <button type="button"class="btn btn-outline-secondary my-2 my-sm-0 password input change-cancel">Back</button>
      </form>
    </div>


<!--    <form  th:object="${user}" th:action="@{/save}" class="edit-profile" method="post" action="#" >
      <h2 class="form-signin-heading">Profile Settings</h2>
      <p>
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" th:field="*{username}" name="username" class="form-control" placeholder="Username *"  required=""
               autofocus="">
      <div class="alert alert-warning" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
      </p>
      <p>
        <label for="password" class="sr-only">Password</label>
        <input type="password" th:field="*{password}" id="password" name="password" class="form-control" placeholder="Current Password*"
               required="">
      <div class="alert alert-warning" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
      </p>
      <p>
        <label for="repeat-password" class="sr-only">Password</label>
        <input type="text" th:value="${password2}" id="repeat-password" name="password2" class="form-control" placeholder="New Password*"
               required="">
      </p>
      <div class="edit-profile-buttons">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Save Changes</button>
        <button onclick="location.href='#'" type="button" class="btn btn-lg btn-danger btn-block">Delete Account</button>
      </div>
    </form>-->

    <button onclick="location.href='/'" type="button" class="btn btn-outline-secondary my-2 my-sm-0 cancel" id="cancel">Cancel</button>
  </div>

</div>

</div>

</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script src="../static/javascript/script.js"></script>
</html>