body {
    text-align: center;
    background: rgb(230,255,230);
    background: radial-gradient(circle, rgba(230,255,230,1) 0%, rgba(228,223,249,1) 100%);
}
#dropdown-item-logout{color: red;}

.wrapper{
    width: 100%;
    height: auto;
}
.form-inline{
    display: block;
    text-align: center;
    margin-top: 30pt;
}
#navbar-user{
    margin-left: 88%;
}

.navbar{
    border-bottom: solid green 1px;
}
#search-field{
    width: 50%;
}

.add-button{
    margin: 20pt 0 20pt 0;
}
#add-button{
    border-radius: 50%;
    width: 50pt;
    height: 50pt;
    font-size: 25pt;
}