.notes{
    text-align: center;
}
.note{
    background-color: white;
    padding: 20pt;
    border-radius: 15pt;
    margin: 5pt;
    width: 70%;
    display: inline-block;
    box-shadow: 5px 10px 8px #dedede;
}
.new-note{
    display: none;
    text-align: center;
}
.new-note-form{
    background-color: white;
    width: 30%;
    display: inline-block;
    margin: 0 auto;
    border-radius: 20pt;
    padding: 20pt;
    margin-top: 20pt;
}
.new-note-textArea{
    width: 70%;
    height: 150pt;
}

.new-note-textArea:focus{
    outline-color: white;
    border-bottom: solid black;
}
.note-text{
    float: left;
    max-width: 85%;
}
.note-buttons{
    float: right;
}

textarea{
    border: none;
    resize: none;
    overflow: auto;
    word-break: break-all;
}

.edit-textarea{
    width: 200px;
    height: 50px;

}
.note-text{
    margin-top: -10pt;
}

.edit-buttons{
    display: none;
}

.note-buttons{
    display: flex;
}

.edit-note{
    margin-right: 10pt;
    display:block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: url('../images/edit-32.png') no-repeat;
    background-position:  center;
}


.delete-note{
    display:block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: url('../images/delete-32.png') no-repeat;
    background-position:  center;
}

.delete-note:hover{

}


